body{
    background-color: antiquewhite;
   font-family: Arial, sans-serif;
   text-align: center;
   border: 4px;
   padding: 10px 0 15px 0;
   margin: 0px;
}

.h1{
    margin-bottom: 20px;
    text-align: center;
}

label{
    font-weight: bold;
}

/* input[type="text"],
input[type="password"],
input[type="email"],
input[type="address"]{
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px;
    border-radius: 5px;
} */

form{
    text-align: center;

}